
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cores principais */
:root {
    --background-dark: #000000;
    --text-light: #ffffff;
    --accent-color: #4caf50;
    --accent-hover: #4caf50;
}

/* Corpo geral */
body {
    font-family: 'Arial', sans-serif;
    background: var(--background-dark);
    color: var(--text-light);
    line-height: 1.6;
}



/* Hero Section */

.hero {
   
    background-image: url('img/2.1.png'); /* Caminho da imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    height: auto; /* Deixe a altura do header automática, ou defina um valor fixo se necessário */
    padding: 120px; /* Adiciona algum espaçamento ao redor do conteúdo */
   
}



.hero-content h2 {
    font-size: 3rem;
    margin-top: 20px;  /* Ajusta a margem superior */
}

.hero-content p {
    display: flex;
  justify-content: center;  /* Alinha o conteúdo horizontalmente */
  align-items: center;      /* Alinha o conteúdo verticalmente */
  height: 200px;            /* Definindo uma altura para a caixa */
  
}



.logo {
    font-size: 50px;
    font-weight: bold; /* Torna a fonte mais destacada */
    background: black;
    -webkit-background-clip: text; /* Define o degradê como clip para o texto */
    -webkit-text-fill-color: transparent; /* Torna a cor do texto transparente para exibir o degradê */
       
}

.subtitulo{
    background: linear-gradient(135deg, #110f0f, #307133); /* Degradê verde */
    -webkit-background-clip: text; /* Define o degradê como clip para o texto */
    -webkit-text-fill-color: transparent; /* Torna a cor do texto transparente para exibir o degradê */
    font-weight: bold; /* Torna a fonte mais destacada */
}

.logo span {
    color: var(--accent-color);
}



.navbar {
    display: flex;
    justify-content: space-between; /* Distribui os elementos */
    align-items: center; /* Alinha verticalmente */
    padding: 10px 20px;
    position: relative; /* Necessário para posicionamento absoluto */
}


 .nav-links {
    display: flex; /* Padrão: menu visível em telas grandes */
    gap: 20px;
   }


   /* Menu Links quando o hambúrguer é clicado */
.nav-links.active {
    display: block; /* Exibe o menu quando o ícone é ativado */
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--background-dark);
    width: 100%;
    padding: 10px;
}

   .menu-icon {
    display: none; /* Padrão: escondido em telas maiores */
    font-size: 40px;
    cursor: pointer;
    color: rgb(255, 243, 243);
    position: absolute; /* Permite posicionamento no canto */
    top: 10px; /* Ajuste para alinhar verticalmente */
    right: 20px; /* Ajuste para alinhar horizontalmente */
}

    
    .nav-links a {
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 10px 20px;
        transition: all 0.1s ease;
    }

    .nav-links a:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
    }
    



.hero-content h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    padding: 10px 20px;
    background: var(--accent-color);
    color: var(--text-light);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: var(--accent-hover);
}


#location {
    background: linear-gradient(135deg, #181717, #6a6b6a); /* Degradê cinza fundo */
    text-align: center;
    padding: 20px;
}

.map-container iframe {
    width: 100%;
    max-width: 900px;  /* Limita a largura máxima */
    height: 500px;
    border: 2;
}
.icon-blue {
    color: rgb(9, 181, 220);
}


/* Seçõesv.1 */
/* Estilo para a seção de serviços */
#services {
    text-align: center;
    padding: 50px 0;
    background-color: #333; /* Cor de fundo escura para a seção */
}

#services h2 {
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Estilo para os cartões de serviço */
.service-cards {
    display: flex;
    justify-content: center;
    gap: 30px; /* Espaçamento entre os cards */
    flex-wrap: wrap;
}

.card {
    width: 280px;
    height: 300px;
    background-size: cover; /* Ajusta a imagem para cobrir o tamanho do card */
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h3, .card p {
    
    position: absolute;
    z-index: 2;
    color: #fff; /* Texto claro */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Sombra para destacar o texto */
    padding: 20px;
    
}



/* Efeito de escurecimento com uma camada */
.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Cor preta com opacidade para escurecer */
    z-index: 1;
}

/* Estilo para o conteúdo dentro de cada card (texto) */



.card h3 {
    top: 20px;
    font-size: 1.8em;
}
 
.card p{
    
    font-size: 1.3em;
    top: 180px;
    
}


/* formulario contato v.3 Contêiner que envolve a seção de contato */
.contact-container {
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;  /* Centraliza verticalmente */
    height: 40vh;  /* Ocupa toda a altura da janela */
    padding: 10px;  /* Adiciona um pouco de espaçamento nas laterais */
}

/* Estilização do formulário */
#contact {
    font-family: Arial, sans-serif;
    background-color: rgba(91, 89, 89, 0.6); /* Fundo preto semi-transparente */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;  /* O formulário pode ocupar toda a largura disponível */
    max-width: 600px; /* Mas limita a largura a 600px */
}

#contact p {
    font-size: 1.2rem;
}

#contact a {
    color: #ffffff;
    text-decoration: none;
}

#contact a:hover {
    color: #228342;
}

#contact i {
    margin-right: 10px;
    font-size: 1.2rem;
    color: #4caf50;
}



/* Footer */
.footer {
    background-color: #222;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
}

.footer p {
    font-size: 1em;
    margin: 10px 0;
}

    /* Ajustes para dispositivos móveis */

@media (max-width: 768px) {

     .hero{
        padding: 35px;
     }

    header {
        
      flex-direction: column;        /* Alinha elementos verticalmente */
      text-align: center;           /* Centraliza o conteúdo */
    }

    

    .logo {
        font-size: 2.0rem; /* Tamanho menor para o título */
        text-align: center; /* Centraliza o título em telas pequenas */
    }

    .subtitulo {
        font-size: 1.0rem; /* Tamanho menor para o subtítulo */
        
        margin-top: 5px; /* Ajusta o espaçamento */
    }
}
  
    .menu ul {

      flex-direction: column;       /* Itens do menu em coluna */
      gap: 10px;                    /* Ajusta espaçamento entre itens */
    }

    .navbar {
        width: 100%; /* Garante que a faixa ocupe toda a largura */
        flex-direction: column; /* Empilha logo e menu */
        text-align: center;
    }

    .nav-links {
        display: none; /* Esconde o menu em telas pequenas até ser ativado */
        flex-direction: column;
        background-color: var(--background-dark);
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    

.nav-links.active {
        display: flex; /* Exibe o menu quando ativado */
        max-height: 300px; /* Altura máxima quando o menu está aberto */
    }

    .menu-icon {
        display: block;
    }



    .nav-links a {
        display: block; /* Exibe os botões como blocos */
        width: 100%; /* Botões ocupam toda a largura */
        text-align: center; /* Centraliza o texto */
        padding: 15px; /* Aumenta o espaçamento interno */
        
    }

  